# TODO should read data from etcd
uid = root
gid = root
use chroot = yes
pid file = /var/run/rsyncd.pid
log file = /dev/stdout
[general]
  read only = false
  path = /prj/rsync
  comment = general rsync volume