###caddy conf file

{{range gets "/domains/*"}}{{$d := json .Value}}{{$p := base .Key}}
# TODO test enabled

http://{{$d.name}}, https://{{$d.name}} {
    # list backend: {{$d.backend}}
    {{range $upstream := ls (printf "/backends/%s/upstreams" $d.backend)}}
    proxy / {{$upstream}}
    {{end}}

    gzip
    log /root/logs/access.log {
        rotate {
            size 100 # Rotate after 100 MB
            age  14  # Keep log files for 14 days
            keep 10  # Keep at most 10 log files
        }
    }
    errors {
      log /root/logs/error.log {
          size 50 # Rotate after 50 MB
          age  30 # Keep rotated files for 30 days
          keep 5  # Keep at most 5 log files
      }
    }
}
{{end}}
